### Imports

In [89]:
import pandas as pd
import numpy as np

### Zadanie 1

In [90]:
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

In [91]:
print(s1.shape)
print(s2.shape)
print(s1)
print(s2)

(20,)
(20,)
0     0.374540
1     0.950714
2     0.731994
3     0.598658
4     0.156019
5     0.155995
6     0.058084
7     0.866176
8     0.601115
9     0.708073
10    0.020584
11    0.969910
12    0.832443
13    0.212339
14    0.181825
15    0.183405
16    0.304242
17    0.524756
18    0.431945
19    0.291229
dtype: float64
0    -1.012831
1     0.314247
2    -0.908024
3    -1.412304
4     1.465649
5    -0.225776
6     0.067528
7    -1.424748
8    -0.544383
9     0.110923
10   -1.150994
11    0.375698
12   -0.600639
13   -0.291694
14   -0.601707
15    1.852278
16   -0.013497
17   -1.057711
18    0.822545
19   -1.220844
dtype: float64

In [92]:
df_data = {'col1': s1, 'col2': s2}

df = pd.DataFrame(df_data)
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

### Zadanie 2

In [93]:
ext = df[df['col2'].between(left=0.0, right=1.0, inclusive='both')]
print(ext)

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

### Zadanie 3

In [94]:
# Create the values list

values = []
for record in df['col2'].values:
    if (record >= 0):
        values.append(1)
    else:
        values.append(0)

print(values)

[0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0]

In [95]:
df['col3'] = values
print(df)

        col1      col2  col3
0   0.374540 -1.012831     0
1   0.950714  0.314247     1
2   0.731994 -0.908024     0
3   0.598658 -1.412304     0
4   0.156019  1.465649     1
5   0.155995 -0.225776     0
6   0.058084  0.067528     1
7   0.866176 -1.424748     0
8   0.601115 -0.544383     0
9   0.708073  0.110923     1
10  0.020584 -1.150994     0
11  0.969910  0.375698     1
12  0.832443 -0.600639     0
13  0.212339 -0.291694     0
14  0.181825 -0.601707     0
15  0.183405  1.852278     1
16  0.304242 -0.013497     0
17  0.524756 -1.057711     0
18  0.431945  0.822545     1
19  0.291229 -1.220844     0

### Zadanie 4

In [96]:
# Cap col2 values at 1.0 for values above 1.0 and at -1.0 for values below -1.0

df['col4'] = np.where(df['col2'] >= 1.0, 1.0, df['col2'])
df['col4'] = np.where(df['col2'] <= -1.0, -1.0, df['col2'])
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831     0 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024     0 -0.908024
3   0.598658 -1.412304     0 -1.000000
4   0.156019  1.465649     1  1.465649
5   0.155995 -0.225776     0 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748     0 -1.000000
8   0.601115 -0.544383     0 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994     0 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639     0 -0.600639
13  0.212339 -0.291694     0 -0.291694
14  0.181825 -0.601707     0 -0.601707
15  0.183405  1.852278     1  1.852278
16  0.304242 -0.013497     0 -0.013497
17  0.524756 -1.057711     0 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844     0 -1.000000

### Zadanie 5

In [97]:
sorted_col2_values = df['col2'].sort_values(axis=0, ascending=False)
print(sorted_col2_values.head(5))
print('')
print(sorted_col2_values.tail(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

17   -1.057711
10   -1.150994
19   -1.220844
3    -1.412304
7    -1.424748
Name: col2, dtype: float64

### Zadanie 6

In [98]:
df_sum = pd.DataFrame.cumsum(self=df)
print(df_sum)

        col1      col2  col3      col4
0   0.374540 -1.012831     0 -1.000000
1   1.325254 -0.698584     1 -0.685753
2   2.057248 -1.606608     1 -1.593777
3   2.655907 -3.018912     1 -2.593777
4   2.811925 -1.553263     2 -1.128128
5   2.967920 -1.779039     2 -1.353904
6   3.026004 -1.711511     3 -1.286376
7   3.892180 -3.136259     3 -2.286376
8   4.493295 -3.680642     3 -2.830759
9   5.201367 -3.569719     4 -2.719836
10  5.221952 -4.720713     4 -3.719836
11  6.191862 -4.345015     5 -3.344138
12  7.024304 -4.945653     5 -3.944777
13  7.236643 -5.237347     5 -4.236471
14  7.418468 -5.839054     5 -4.838177
15  7.601873 -3.986776     6 -2.985899
16  7.906115 -4.000273     6 -2.999396
17  8.430872 -5.057984     6 -3.999396
18  8.862817 -4.235439     7 -3.176851
19  9.154046 -5.456283     7 -4.176851